html,body{
  margin: 0;
  padding: 0;

}
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
  width: 100%;
  height: 100vh;

}
.strike {
  text-decoration: line-through;
}
.bg-img{
  background: url(./assets/bg.jpg);
  background-repeat: round;
}
.bg-img2{
  background: url(./assets/wallpaperflare.com_wallpaper.jpg);
  background-repeat: round;
  height: 100%;
  width: inherit;
  height: inherit

}
.strike {
  text-decoration: line-through;
}
a{
  text-decoration: none;
}
.loadinggif{
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.pagination{
  position: fixed;
  bottom: 0;
  left: 50%; 
  transform: translate(-50%, 0)
}
.Zdex{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50%; 
  transform: translate(-50%, 0)
}